/* @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Prosto+One&display=swap'); */
/* font-family: 'Lobster', cursive;
font-family: 'Prosto One', cursive;
*/

.coffee-list {
  background-image: url("img/background.jpg");
  background-size: cover;
  }
  .coffee-item {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 30px 0;
    border-radius: calc(100px / 2);
    /* transition: background-color 300ms, transform 300ms; */
    transition: all 300ms; 
    cursor: pointer;
    
  
  }
  .coffee-item img {
    height: 100px;
    background-color: white;
    border-radius: 50%;
  }
  .coffee-item span {
    font-family: 'Prosto One', cursive;
    margin-left: 55px;
    font-size: 25px;
  }
.coffee-item:hover {
  background-color: rgba(50, 50, 50, 0.7);
  transform: scale(1.05);
}
.coffee-oper {
  background-color: rgb(230, 230, 230);
  padding: 3rem;
} 
.display {
  background-color:#D8F781;
  border: 2px solid darkgreen;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family: 'Prosto One', cursive;
} 
.cup-container {
  margin-top: 6rem;
}
.cup {
  width: 110%;
  display: none;
  opacity: 0;
}
 .atm {
  width: 100%;
   
 } 
.change-container {
  min-height: 10rem;
  background-color: #848484;
  border: 2px solid black;
  border-radius: 0.5rem;
  position: relative;
}
  
  
  
  